*{
    margin: 0;;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #09eb6ed8, #420cd8da);
    display: grid;
    align-items: center;
    justify-content: center;
}

.relogio2{
    display: grid;;
    grid-template-rows: 1fr 2fr;
}

.relogio2 h1{
    font-size: 50px;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;

}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 15px;
}

#titulo{
    color: white;
    align-items: center;
    text-align: center;
}

@media(max-width: 500px){

    .body{
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: 1fr 2fr;

    }

    .relogio2 h1{
        font-size: 30px;
    }


    .relogio{
        display: grid;
        flex-direction: row;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        background: transparent;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
        
    }
    
    .relogio div{
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        background: rgba(5, 5, 5, 0.9);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        letter-spacing: 1px;
    
    }
    
    .relogio span{
        font-weight: bolder;
        font-size: 30px;
    }
    
    .relogio span.tempo{
        font-size: 20px;
    }

    #titulo{
        color: rgb(255, 255, 255);
        align-items:center;
        text-align: center;
        
    }

    
}